mixin dropdown(title, subtitle, type)
    .dropdown__name
        p.dropdown__title.text-H3
            |#{title}
        if(subtitle)
        p.dropdown__subtitle.text-H3
            |#{subtitle}
    .iqdropdown(class!=attributes.class class=type )
        p.iqdropdown-selection
        .iqdropdown-menu
            if(type=="guest")
                .iqdropdown-menu-option(data-id="item1" data-defaultcount="2" data-mincount="1")
                    .item
                        p.iqdropdown-item="Взрослые"
                .iqdropdown-menu-option(data-id="item2" data-defaultcount="1")
                    .item
                        p.iqdropdown-item="Дети"
                .iqdropdown-menu-option(data-id="item3")
                    .item
                        p.iqdropdown-item="Младенцы"
                .iqdropdown__control
                    .iqdropdown__control__clear
                        +button('link','Очистить')
                    .iqdropdown__control__accept
                        +button('link','Применить')
            if(type=="furn")
                .iqdropdown-menu-option(data-id="item1" data-defaultcount="2" data-mincount="1")
                    .item
                        p.iqdropdown-item="Спальни"
                .iqdropdown-menu-option(data-id="item2" data-defaultcount="2" data-mincount="1")
                    .item
                        p.iqdropdown-item="Кровати"
                .iqdropdown-menu-option(data-id="item3")
                    .item
                        p.iqdropdown-item="Ванные комнаты"






    //- form.dropdown
    //-     p.dropdown__title.text-H3
    //-         |#{title}
    //-     p.dropdown__subtitle.text-H3
    //-         |#{subtitle}
    //-     select.dropdown__input
    //-         option(hidden selected disabled value="")=name
    //-         option="Test"
    //-     .dropdown__arrow.material-icons="expand_more"
        