include ./components/textField/textField.pug
include ./components/dropdown/dropdown.pug
include ./components/maskedTextField/maskedTextField.pug
include ./components/dateDropdown/dateDropdown.pug
include ./components/filterDateDropdown/filterDateDropdown.pug
include ./components/subTextField/subTextField.pug
include ./components/checkbox/checkbox.pug
include ./components/radioButtons/radioButtons.pug
include ./components/toggle/toggle.pug
include ./components/likeButton/likeButton.pug
include ./components/rateButton/rateButton.pug
include ./components/rangeSlider/rangeSlider.pug
include ./components/button/button.pug
include ./components/pagination/pagination.pug

html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Form elements"
  body 
    .page
      include ../ColorNtype/logo/logo.pug
      .textFieldsNdrops
        .txtFieldDefault
          +textField("Text field", "Default","Email")
        .txtFieldHover
          +textField("Text field", "Hover / Focus","Email")(value="This is pretty awesome")
        .dropDownDefault
          +dropdown("Dropdown", "Default","Сколько гостей")
        .maskedFieldDefault
          +maskedTextField("Masked text field", "Default")
        .dateDropdownsDefault
          .dropDownGroup
            +dateDropdown("Date dropdown")
            +dateDropdown("Date dropdown")(value="19.08.2019")
        .filterDateDefault
          +filterDateDropdown("Filter date dropdown")(value="19 авг - 23 авг")
        .subTxtDefault
          +subTextField("Subscription text field", "Email")
      .specialButtons
        .specialButtons__checkbox
          +checkbox("Checkbox buttons")
        .specialButtons__radioButtons
          +radioButtons("Radio buttons")
        .specialButtons__toggle
          +toggle("Toggle","Получать спецпредложения",true)
          +toggle("","Получать спецпредложения")
        .specialButtons__like
          p.likeButton__title.text-H3="Like button"
          .like__buttons
            +likeButton(false, 2)
            +likeButton(true, 12)
        .specialButtons__rate
          p.rateButton__title.text-H3="Rate button"
          .rate__buttons
            +rateButton('rate1',false,false,false,true,false)
            +rateButton('rate2',false,false,false,false,true)
      .commonButtons
        .commonButtons__rangeSlider
          +rangeSlider("Range slider")
        .commonButtons__buttonGroup
          p.buttonGroup__title.text-H3="Buttons"
          .buttonGroup__filled
            .buttonGroup__filled_default
              +button("fill","Click me")
            .buttonGroup__filled_hover
              +button("fill","Click me")
          .buttonGroup__empty
            .buttonGroup__empty_default
              +button("empty","Click me")
            .buttonGroup__empty_hover
              +button("empty","Click me")
          .buttonGroup__link
            .buttonGroup__link_default
              +button("link","Click me")
            .buttonGroup__link_hover
              +button("link","Click me")
          .buttonGroup__long
            .buttonGroup__long_default
              +button("long","Перейти к оплате")
        .commonButtons__pagination
          p.pagination__title.text-H3="Pagination"
          +pagination("1 – 12 из 100+ вариантов аренды")