mixin rateButton(name,star1,star2,star3,star4,star5)
    .rateButton
        fieldset.rateButton__starsGroup.material-icons
            input.rateButton__toggle(type="radio" value="5" name=name id=name+"5" checked=star5)
            label.rateButton__star(for=name+"5")
            input.rateButton__toggle(type="radio" value="4" name=name id=name+"4" checked=star4)
            label.rateButton__star(for=name+"4")
            input.rateButton__toggle(type="radio" value="3" name=name id=name+"3" checked=star3)
            label.rateButton__star(for=name+"3")
            input.rateButton__toggle(type="radio" value="2" name=name id=name+"2" checked=star2)
            label.rateButton__star(for=name+"2")
            input.rateButton__toggle(type="radio" value="1" name=name id=name+"1" checked=star1)
            label.rateButton__star(for=name+"1")